
  /* Additional styling for the text content within the day container */
  
  /* Style for the JournalNote component */
  /* Adjust the styling based on your JournalNote component structure */
  .journal-note-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  /* Add any additional styling for your JournalNote component elements */
  .journal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .journal-art {
    margin-top: 20px;
    align-self: center;
    max-width: 300px;
  }

  .journal-quote{
    align-self: center;
      font-style: italic;
      font-family: Garamond, serif;
      font-size: 26px;
      line-height: 1.5;
      padding: 10px;
      margin: 20px;
      border-left: 3px solid #ddd;
    
  }

  .create-icon-btn{
    align-self: center;
    background-image: url("../../assets/images/create-plus-icon.png");
    background-size: cover;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }