.resources-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Use space-around for even spacing */
    padding: 20px;
  }
  
  .condition-card {
    flex-basis: 30%; /* Set width for each card */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Margin for spacing around cards */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .condition-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .condition-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Adjustments for smaller screens */
  @media (max-width: 992px) {
    .condition-card {
      flex-basis: 47%; /* Adjust for two items per row */
    }
  }
  
  @media (max-width: 600px) {
    .condition-card {
      flex-basis: 100%; /* One item per row on very small screens */
    }
  }
  